@import "./variable.css";
@import "./nav.css";


.bg-red {
  background-color: var(--bg-color);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--app-background);
  width: 100%;
  flex-direction: column;
}

.content-container {
  width: 100%;
  height: 100%;
}
